Django~=4.1
pgvector~=0.2.4
aiokafka~=0.10.0
python-dotenv~=1.0.0
requests~=2.31.0
torch~=2.1.2
Pillow~=10.1.0
transformers~=4.36.2
django-viewflow~=2.0.0b8
pytest~=7.4.4
psycopg2
confluent_kafka
#Install Postgres
celery~=5.3.6